@{
    ViewBag.Title = "首页";
}

@Scripts.Render("~/bundles/home")

<div class="container-fluid main-content">
    <div class="row">
        <!-- Area Charts:Morris -->
        <div class="col-md-6">
            <div class="widget-container fluid-height" style="height:425px">
                <div class="heading">
                    <i class="icon-bar-chart"></i>个人信息
                </div>
                <div class="widget-content padded text-center">
                    <div class="graph-container" style="padding-top: 60px;">
                        <div class="col-md-4"><img src="../../Images/login_logo.png" /></div>
                        <div class="col-md-8">
                            <p id="dlm"></p>
                            <p id="yhm"></p>
                            <p id="yhlb"></p>
                            <p id="ywks"></p>
                            <p id="lsbm"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Area Charts:Morris --><!-- Chat -->
        <div class="col-md-6">
            <div class="widget-container scrollable chat" style="height: 427px;">
                <div class="heading">
                    <i class="icon-comments"></i>通知<span class="icon-smile pull-right">发布</span>
                </div>
                <div class="widget-content padded">
                    <ul>
                        <li>
                            <div class="bubble">
                                <a class="user-name" href="#">John Smith</a>
                                <p class="message">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                                </p>
                                <p class="time">
                                    <strong>Today </strong>3:53 pm
                                </p>
                            </div>
                        </li>
                        <li class="current-user">
                            <div class="bubble">
                                <a class="user-name" href="#">Jane Smith</a>
                                <p class="message">
                                    Donec odio. Quisque volutpat mattis eros.
                                </p>
                                <p class="time">
                                    <strong>Today </strong>3:53 pm
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="post-message">
                    @*<input class="form-control" placeholder="Write your message here..." type="text"><input type="submit" value="Send">*@
                </div>
            </div>
        </div>
        <!-- End Chat -->
    </div>
    <div class="row">
        <!-- Pie Graph 1 -->
        <div class="col-lg-12">
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="icon-bar-chart"></i>爆破项目@*<span class="pull-right"></span>*@
                </div>
                <div class="widget-content clearfix">
                    <table id="table" data-mobile-responsive="true" data-card-view="true"></table>
                </div>
            </div>
        </div>
        <!-- End Pie Graph 1 -->
    </div>
</div>
