@{
    ViewBag.Title = "下载文件";
}

@Scripts.Render("~/bundles/zip")

<div class="row">
    <div id="toolbar"></div>
    <div class="col-md-12">
        @*报表展示*@
        <table id="down" data-mobile-responsive="true" data-card-view="true"></table>
    </div>
</div>

@*图片预览框*@
<div id="image" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document" style="width:100%;">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol id="Indicators" class="carousel-indicators"></ol>
                    <!-- Wrapper for slides -->
                    <div id="Wrapper" class="carousel-inner" role="listbox">
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- 下载和关闭按钮 -->
            <div id="Button" class="modal-footer">
            </div>
        </div>
    </div>
</div>