@{
    ViewBag.Title = "下载文件";
}

@Scripts.Render("~/bundles/zip")

<div class="row">
    <div id="toolbar"></div>
    <div class="col-md-12">
        @*报表展示*@
        <table id="down" data-mobile-responsive="true" data-card-view="true"></table>
    </div>
</div>